<!-- named_entity_recognition/templates/named_entity_recognition/named_entity_recognition.html -->
{% extends "base.html" %}

{% block title %}Named Entity Recognition - Resume Analyzer{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card dashboard-card text-center">
            <div class="card-body">
                <h5 class="card-title">Named Entity Recognition</h5>
                <p class="card-text">Upload resumes and analyze named entities.</p>
                <a href="{% url 'upload_resume' %}" class="btn btn-primary">Go to Named Entity Recognition App</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
