<!-- templates/resume_classification/resume_classification.html -->
{% extends "base.html" %}

{% block title %}Resume Classification{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    .bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px
}
</style>
<div class="row justify-content-center">
  <div class="col-md-8">
      <h2>Upload Resumes and Select Category</h2>
      <div class="bd-example">
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
              <label for="host" class="form-label">Vantege Host: </label>
              <input type="text" id="host" name="host" class="form-control" required/></input>
          </div>
          <div class="mb-3">
            <label for="host" class="form-label">"User is by default "demo_user", please enter password: </label>
            <input type="password" id="password" name="password" class="form-control" required/></input>
        </div>
          
          <strong>Select Category and upload Resumes to classify on pre-trained model</strong>
          <div class="mb-3">
            <label for="category">Choose a Category:</label>
            <select name="category" id="category" class="form-select">
              <option value="ACCOUNTANT">ACCOUNTANT</option>
              <option value="ADVOCATE">ADVOCATE</option>
              <option value="AGRICULTURE">AGRICULTURE</option>
              <option value="APPAREL">APPAREL</option>
              <option value="ARTS">ARTS</option>
              <option value="AUTOMOBILE">AUTOMOBILE</option>
              <option value="AVIATION">AVIATION</option>
              <option value="BANKING">BANKING</option>
              <option value="BPO">BPO</option>
              <option value="BUSINESS-DEVELOPMENT">BUSINESS-DEVELOPMENT</option>
              <option value="CHEF">CHEF</option>
              <option value="CONSTRUCTION">CONSTRUCTION</option>
              <option value="CONSULTANT">CONSULTANT</option>
              <option value="DESIGNER">DESIGNER</option>
              <option value="DIGITAL-MEDIA">DIGITAL-MEDIA</option>
              <option value="ENGINEERING">ENGINEERING</option>
              <option value="FINANCE">FINANCE</option>
              <option value="FITNESS">FITNESS</option>
              <option value="HEALTHCARE">HEALTHCARE</option>
              <option value="HR">HR</option>
              <option value="INFORMATION-TECHNOLOGY">INFORMATION-TECHNOLOGY</option>
              <option value="PUBLIC-RELATIONS">PUBLIC-RELATIONS</option>
              <option value="SALES">SALES</option>
              <option value="SAMPLE">SAMPLE</option>
              <option value="TEACHER">TEACHER</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="files" class="form-label">Select Resumes:</label>
            <input class="form-control" name="files" type="file" id="files" multiple required>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>

          </form>
      </div>
</div>
</div>

{% endblock %}
